*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background:#7aa7de;
}

.container{
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
}

.container p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}

.container input{
    width: 100%;
    height: 50%;
    border: 1px solid #494eea;
    outline: 0;
    padding: 10px;
    margin: 10px 0 20px;
    border-radius: 5px;
}

.container button{
    width: 100%;
    height: 50px;
    background: #494eea;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    margin: 20px 0;
    font-weight: 500;
}

#imgBox{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1.8s;
}

#imgBox img{
    width: 100%;
    padding: 10px;
}

#imgBox.show-img{
    max-height: 300px;
    margin: 10px auto;
    border: 1px solid #d1d1d1;
}

/* Animation when the user click on button without any value */

.error{
    animation: shake 0.1s linear 10;
}

@keyframes shake{
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(-2px);
    }
    20%{
        transform: translateX(2px);
    }
    30%{
        transform: translateX(-2px);
    }
    40%{
        transform: translateX(2px);
    }
    50%{
        transform: translateX(-2px);
    }
    60%{
        transform: translateX(2px);
    }
    70%{
        transform: translateX(-2px);
    }
    80%{
        transform: translateX(2px);
    }
    90%{
        transform: translateX(-2px);
    }
    100%{
        transform: translateX(0);
    }
}


button {
        background-color: #06c006;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
}

button:hover {
        background-color: #06c006;

}
